body{
    background-color: rgb(245, 244, 242);
}

.tcontainer{
    position: absolute;
    top: 10px;
}
.container{
    margin-top: -7vw;
}
.picdesc{
    position: relative;
}
#pic1{
    background: url(../img/12.1.jpeg);
}
#pic2{
    background-color: rgb(195, 195, 195);
    text-align: center;
}
#pic3{
    background-color: rgb(195, 195, 195);
    text-align: center;
}
#pic4{
    background-color: rgb(195, 195, 195);
    text-align: center;
}
#pic5{
    background-image: url(../img/1.jpeg);
}
#pic6{
    background-image: url(../img/5.jpeg);
}
#pic7{
    background-image: url(../img/3.jpeg);
}
#pic8{
    background-image: url(../img/4.jpeg);
}
#pic9{
    background-image: url(../img/7.jpeg);
}
#pic10{
    background-image: url(../img/9.1.jpeg);
}
#pic11{
    background-image: url(../img/10.1.jpeg);
}
#pic12{
    background-image: url(../img/11.jpeg);
}
#pic13{
    background-image: url(../img/12.4.jpeg);
}

.workingpic{
    height: 75%;
    border-radius: 100%;
}
#pic1, #pic2, #pic3, #pic4, #pic5,#pic6,#pic7,#pic8,#pic9,#pic10,#pic11,#pic12,#pic13{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: solid 2px black;
    display: block;
}
.blogpic{
    height: 25vw; 
    z-index: -1;
}
.recipepic{
    height: 25vw; 
}
.desc{
    color: white;
    font-size: 2.2vw;
    text-align: center;
    z-index: 10;
    background-color: rgba(211, 211, 211, 0.5);
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Arvo', serif;
    height: 30%;
    padding-top: 5%;
}
.row{
    margin-top: 40px;
}
.col-lg-6{
    padding-left: 30px;
    padding-right: 30px;
}



.mainpic img{
    width: 100%;
    margin-top: -4vw;
    position: relative;
    z-index: -100;
    
}
.mainpic {
    position: relative;
    
}
.rowrecipe{
    margin-top: 80px;
}
@media (max-width: 992px){
    .desc {
    font-size: 3vw;}
    .row{
        margin-top: 0;
    }
    .rowrecipe{
        margin-top: 80px;
    }
    .desc{
        font-size: 6vw;
        padding-top: 7%;
    }
    .blogpic {
        height: 70vw;
        
    }
    
    .recipepic{
        height: 70vw;
    }
    
    .blogdesc{
        margin-bottom: 1px;
    }
    .sheet{
        height: 40vw !important;
        font-size: 3vw !important;
    }
}
/*-------------------------------------------------------------------------------------------------*/
.nav{
    background-color:  rgb(245, 244, 242);
    height: 100px;
    border: none;
    
}
.nav-item{
    height: 100px;
    width: 200px;
    text-align: center;
    
}
.nav-link{
    height: 100px;
    font-size: 1.8em;
    color: #000;
    padding-top: 40px;
    border: none;
    position: relative;
}
.nav-link.active{
    border: none;
    background-color: rgb(112, 65, 19) !important;
    color: #FFF !important;
}

@media (max-width: 992px){
    .nav{
        height: 80px;
    }
    .nav-item{
        height: 80px;
    }
    .nav-link{
        height: 80px;
        font-size: 1.5em;
        padding-top: 25px;
    }
    h2{
        font-size: 15vw !important;
    }
}
@media (max-width: 767px){
    .nav{
        height: 60px;
    }
    .nav-item{
        height: 60px;
        width: 100px;
        width: 120px;
    }
    .nav-link{
        height: 60px;
        font-size: 1.2em;
        padding-top: 20px;
    }
    .sheet{
        height: 70vw !important;
        font-size: 5vw !important;
    }
}
.fa-arrow-circle-left{
    margin-top: 2vw;
    color: black;
    font-size: 2vw;
}

.indextitle{
    padding-left:0;
    padding-right: 0;
}

.mainsheet{
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid black;
    padding: 20px;
    font-size: 22px;
    text-align: justify;
    margin-top: 1vw;
    margin-bottom: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
    transition: .2s;
}
h1 {
    font-family: 'Arvo', serif;
    text-align: center;
    color:black;
    font-size: 7vw; 
}
h2 {
    font-family: 'Arvo', serif;
    text-align: center;
    color:black;
    font-size: 5vw; 
    margin-bottom: 2vw;
}
.sheet {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid black;
    padding: 15px;
    padding-left: 1vw;
    font-size: 1.9vw;
    height: 25vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}
.bottomrow{
    margin-bottom: 5vw;
}

.button1 { 
    border: none;
    color:black;
    padding: 8px; 
    border-radius: 6px; 
    background-image: url(../img/pdf.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 10px;
    margin-top: 20px;
}
.button1:hover{
    cursor: pointer;
}
.button1:focus{
    outline: 0;
}
#img1{
    display: none;
}
.showpdf{
    font-size: 22px;

}
.pdfrow{
    margin-bottom: -80px;
}